*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0 auto;
    background-color: #fff;
}
.container{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: auto;
}
header{
    height: 120px;
    background-attachment: fixed;
    background-color: #fff;
}
.logo{
    transform: translateY(-5%);
    float: left;
    padding: 15px;
    z-index: 9999;
}
.logo img{
    width: 120px;
}
.logo a{
    z-index: 9999;
}
.search{
    float: right;
    padding: 20px;
    z-index: 1000;
}
.main-menu{
    background-color: transparent;
    text-align: center;
    transform: translateY(-160%);
    vertical-align: middle;
    z-index: 9999;
    width: 1000px;
    margin: auto;
    display: flex;
}
.main-menu > ul{
    padding: 0;
    list-style-type: none;
    width: 1200px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
}
.main-menu > ul > li{
    display:  inline-block;
    padding: 0 8px;
    margin:0 8px;
}
.main-menu > ul > li > a{
    color: #ff6000;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: medium;
    border: 2px solid transparent;
}
.main-menu > ul > li > a:hover{
    /* background-color: #ff6000; */
    color: #000;
    border-bottom: 4px solid #ff6000;
}
#donate a{
    color: white;
    background-color: #ff6000;
    padding: 8px 25px;
}
.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    /*width: 1800px;*/
    margin: auto;
    text-align: center;
}
.banner img{
    width: 100%;
    height: 900px;
    transform: translateY(-5%);
    border-radius: 25px;
    overflow: hidden;
}
@media (max-width:1080px) {
    .container{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .banner{
        width: 100%;
        height: 600px;
        padding: 15px;
    }
    .main-menu{
        visibility: hidden;
    }
    footer > div  .end
    {
        width: 900px;
    }
}
.content > p, h1, ul{
    text-align: center;
}
.content > p {
    font-size: 25px;
}
main > h1{
    font-size: 35px;
    font-family: sans-serif;
}
main > ul{
    list-style-type: none;
}
main > ul > li{
    display: inline-flex;
    padding: 30px;
}
main > ul > li img{
    width: 380px;
    height: 400px;
}
main .blog {
    display: inline-block;
    width: 380px;
    height: auto;
}
main .blog .reading{
    text-align: left;
    font-size: 21px;
}
.reading a{
    text-decoration: none;
    color: #000;
}
.reading a:hover{
    text-decoration: none;
    color: #ff6000;
}
/* Footer */
footer{
    background-color: #ff6000;
    padding-left: 10px;
    font-family: sans-serif;   
}
footer > div{
    width: 1500px;
    margin: auto;
}
footer  ul{
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
}
footer ul > li, address{
    padding: 10px;
    padding-left: 10px;
    font-size: 23px;
}
footer ul > li >a{
    text-decoration: none;
    color: black;
}
footer ::placeholder{
    color: white;
    font-size: 15px;
}
.end{
    text-align: center;
    overflow: hidden;
}
.end > ul, li{
    text-align: center;
    display: inline-block;
}
footer div > .intro{
    font-size: 22px;
    padding-left: 10px;
    padding-top: 20px;
}
footer div > .write_us{
    padding-left: 15px;
}
#web{
    text-decoration: none;
    font-style: italic;
    color: white;
}
/* About Us */
section > .aim{
    margin: 0;
    width: 100%;
    transform: translateY(-2%);
    overflow: hidden;
}
section > .aim > img{
    height: auto;
    overflow: hidden;
    width: 100%;
    /* margin: auto; */
    text-align: center;
}
.content_blocks{
    width: 100%;
}
.content_blocks > h1{
    font-size: 35px;
    font-family: sans-serif;
}
.content_blocks > ul{
    list-style-type: none;
}
.content_blocks > ul > li{
    display: inline-flex;
    padding: 30px;
}
.content_blocks > ul > li img{
    width: 600px;
    height: 600px;
}
.content_blocks .blog {
    display: inline-block;
    width: 600px;
    height: auto;
    /* border: ; */
}
.content_blocks .blog .reading{
    text-align: left;
    font-size: 21px;
}
.content_blocks .blog a{
    text-decoration: none;
    color: #000;
}
.content_blocks .blog a:hover{
    text-decoration: none;
    color: #ff6000;
}
/* GET INVOLVED */
.volunteer_blocks{
    width: 100%;   
}
.volunteer_blocks .saying{
    font-weight: 500;
    width: 1800px;
    margin: auto;
    font-size: 25px;
}
.volunteer_blocks .saying a{
    text-decoration: none;
    color: #ff6000;
}
.volunteer_blocks .saying address{
    text-align: right;
}
.form_block{
    width: 1800px;
    margin: auto;
    text-align: left;
    font-size: 25px;
}
.form_block h1{
    text-align: left;
}
.form_block ul{
    list-style: none;
}
.form_block p{
    font-size: 22px;
}
.form_block ul li{
    display: block;
    text-align: left;
}
.form_block .fill a{
    text-decoration: none;
    color: #ff6000;
}
.volunteer_disclaimer{
    width: 1800px;
    margin: auto;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 550;
    font-style: italic;
}
.volunteer_disclaimer a{
    text-decoration: none;
    color: #ff6000;
}
/* Contact */
.contact_blocks .detail_bar ul{
    list-style-type: none;
    padding:50px;
}
.contact_blocks .detail_bar ul li{
    display: inline;
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.contact_blocks .detail_bar ul li a{
    text-decoration: none;
    color: #ff6000;
    font-size: 35px;
    padding: 250px;
}
.contact_blocks .location{
    width: 1600px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
/* Latest Updates */
.update_blocks{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.update_blocks .updates{
    width: 1800px;
    margin: auto;
    text-align: center;
}
.update_blocks .updates img{
    width: 450px;
    height: 700px;
    padding: 0 60px;
}
.update_blocks .past_updates{
    width: 1800px;
    margin: auto;
    text-align: center;
}
.update_blocks .past_updates img{
    width: 700px;
    height: 350px;
    padding: 0 50px;
}
/* Donation */
.donation_blocks{
    width: 1600px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    font-size: 25px;
    width: 100%;
}
.donation_blocks h1{
    color: #ff6000;
    font-size: 40px;
}
.donation_blocks p{
    text-align: center;
    font-size: 20px;
}
.donation_blocks p a{
    text-decoration: none;
    color: #ff6000;
}
.donation_blocks .payment_box{
    background-image: url("images/Payment\ gateway.png");
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    margin: auto;
    padding: 25px;
    text-align: center;
    padding-top: 120px;
}
.donation_blocks .payment_box input{
    border: 2px solid transparent;
    padding: 20px;
    margin: auto;
    background-color: transparent;
    font-size: 20px;
}
.donation_blocks ::placeholder{
    color: #ff6000;
    text-align: left;
    font-size: 15px;
}
#pay{
    background-color: #ff6000;
    width: 250px;
    border-radius: 5px;
    padding: 8px 25px;
}
.input-field{
    width: 95%;
    padding: 10px 0;
    margin:5px 0 ;
    border-left:0 ;
    border-right:0 ;
    border-top:0 ;
    border-bottom:1px solid #999;
    outline: none;
    background:transparent ;
}
